@import "tailwindcss";

:root {
  --background: #fff7e6;
  --foreground: #4a2c12;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-baloo);
}

@theme {
  --color-warung-kuning: #fbbf24;
  --color-warung-kuningtua: #f59e0b;
  --color-warung-oranye: #f97316;
  --color-warung-hijau: #14532d;
  --color-warung-merah: #dc2626;
  --color-warung-krem: #fff7e6;
  --color-warung-coklat: #5b3a1e;
}

body {
  background: var(--background);
  color: var(--foreground);
}
